.form{
    display: grid;
    grid-template-columns: 1fr;
    background-color: #42484D;
    padding: 3.2rem 4.8rem;
    padding-bottom: 2rem;
    width: 48rem;
    gap: 2.4rem;
    margin-top: 4rem;
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
    border-radius: 1rem;
    padding-left: 3.8rem;
}

.form label{
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    font-weight: 600;
    gap: .6rem;
    color: #ebebec;
    position: relative;

} 

:global(input.date){
    width: 40rem;
}
:global(.date-container ){
    display: grid;
    flex-direction: column;
    font-size: 2rem;
    font-weight: 600;
    gap: .6rem;
    color: #ebebec;

}

.form input{
    padding-block: 1rem ;
    outline: none;
    font-size: 1.6rem;
    text-indent: .8rem;
    font-weight: 500;
    border-radius: .4rem;
    border: none;
    background-color:#fffdf1;
    color: #666458;
}
.form textarea{
    max-width:40rem;
    max-height: 9rem;
    height: 9rem;
    outline: none;
    background-color:#fffdf1;
    border: none;
    font-size: 1.6rem;
    text-indent: .8rem;
    font-weight: 500;
    color: #666458;
}

.form  span {
    position: absolute;
    right: 5%;
    bottom: 8%;
    font-size: 2.2rem;
}

 .form  input:active , .form input:focus, .form textarea:active, .form textarea:focus {
    background-color: #fffefb;
}

.form button{
    display: inline;
}

.form .btnBox{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

